        .head1 { 
            font-size:50px; 
            color:#000000; 
            font-weight:bold;
            text-align: center; 
        } 
        .head2 { 
            font-size:17px; 
            margin-left:10px; 
            margin-bottom:15px;
            text-align: center;
        } 
        body { 
            margin: 0 auto; 
            background-position:center; 
            background-size: contain; 
        } 
      
        .menu {    
            position: sticky; 
            top: 0; 
            background-color: #a6a6a6; 
            padding:10px 0px 10px 0px; 
            color:white; 
            margin: 0 auto; 
            overflow: hidden; 
        } 
        .menu a { 
            float: left; 
            color: white; 
            text-align: center; 
            padding: 14px 16px; 
            text-decoration: none; 
            font-size: 20px; 
        } 
        .menu-log { 
            right: auto; 
            float: right; 
        } 
        footer { 
            width: 100%; 
            bottom: -200px; 
            background-color: #000; 
            color: #fff; 
            position:relative; 
            padding-top:20px; 
            padding-bottom:50px; 
            text-align:center; 
            font-size:30px; 
            font-weight:bold; 
        } 
        .body_sec h3{ 
            margin-left:350px;
            margin-right:350px;
            margin-top:-1000px;
            font-size:25px;
            font-weight:normal;
            
        }
        .left {
          padding-left:20px;
          padding-top:20px;
        }
        .right {
          float:right;
          padding-right:20px;
          padding-top:20px;
        }
        .side_title {
          font-size:35px;
          font-weight:bold;
        }
